<nav class="navbar navbar-expand-lg navbar-dark menu fixed-top " id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">TryGo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/habitaciones"><i class="fa-solid fa-bed text-white"></i> Habitaciones</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/reservas"><i class="fa-solid fa-clock text-white "></i> Reservas</a>
          </li> --> 
        </ul>
        <form class="d-flex" id="opciones">
          <input class="form-control me-2" type="search" placeholder="Busca en TryGo" aria-label="Search">
          <button class="btn btn-outline-light" type="submit"><i class="fa-duotone fa-magnifying-glass-location"></i></button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item" id="singIn">
            <a class="nav-link active" aria-current="page" routerLink="/" >Sing in</a>
          </li>
          <li class="nav-item" id="singUp">
            <a class="nav-link active" aria-current="page" routerLink="/" >Sing up</a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>