<div class="row">
    <div class="col-12 col-md-5">
        <form>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label text-white">Nombre Cliente</label>
                    <input type="text" class="form-control" id="Nombre">
                </div>
                <div class="col-6">    
                    <div class="mb-3">
                        <label class="form-label text-white">Entrada</label>
                        <input type="date" class="form-control" id="FechaIngreso">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label text-white">Salida</label>
                        <input type="date" class="form-control" id="FechaSalida">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label text-white">Precio</label>
                        <input type="number" class="form-control" id="Precio">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label text-white">Identificacion</label>
                        <input type="text" class="form-control" id="Idcliente">
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Reservar</button>
            </div>
        </form>
    </div>
</div>
