<div class="card text-center">
    <div class="card-header">
      <h1>HotelTryGo</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">El Hotel TryGo te ofrece exquisita gastronomía, piscina climatizada, gimnasio, zonas húmedas y una inmensa variedad de servicios que hacen más amables y plenas las estadías en la sorprendente capital Antioqueña</p>
    </div>
    <div class="card-footer text-muted">
      Hoteles 
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
      <i class="fa-solid fa-star text-warning"></i>
    </div>
</div>
<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card h-100 border border-5 border-dark">
          <div class="card-body">
            <h5 class="card-title">Hoteles TryGo</h5>
            <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, neque nulla sapiente vero mollitia vitae dolore magni quaerat nesciunt nemo, eum rerum alias reiciendis, modi quod cupiditate sit dolorem sint.</p>
            <img src="../../assets/img/TryGo2.jfif" class="card-img-top" alt="card-2"> 
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border border-5 border-dark">  
          <div class="card-body">
            <h5 class="card-title">Hoteles TryGo</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ducimus. Distinctio, asperiores fugit? Velit beatae tenetur iure necessitatibus dolorem nemo quo. Veritatis consectetur aspernatur atque vero qui voluptatum temporibus dicta!</p>
            <img src="../../assets/img/TryGo.jpg" class="card-img-top" alt="card-2">
            </div>                
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border border-5 border-dark">
          <div class="card-body">
            <h5 class="card-title">Hoteles TryGo</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis explicabo iusto necessitatibus recusandae tempora numquam aliquam veniam, at, doloribus totam repudiandae dolores! Sed repudiandae minus, exercitationem consectetur ea nostrum.</p>
            <img src="../../assets/img/hotel.jpg" class="card-img-top" alt="card-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  

