<footer class="bg-dark  mt-4 p-3 ">
    <div class="container text-white">
      <div class="row">
        <div class="col-12 col-md-4">
          <p></p>
          <p>HotelTryGo <i class="fa-solid fa-star text-warning"></i></p>
          <p> &copy;</p>
        </div>
        <div class="col-12 col-md-4">
          <p></p>
          <p>HotelTryGo <i class="fa-solid fa-star text-warning"></i></p>
          <p> &copy;</p>
        </div>
        <div class="col-12 col-md-4">
          <p></p>
          <p>HotelTryGo <i class="fa-solid fa-star text-warning"></i></p>
          <p> &copy;</p>
        </div>
      </div>
    </div>
</footer>
